/* table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: lime;

} */

.current {
  color: red;
  font-size: large;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: #efefef;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.current {
  font-weight: bold;
  color: red;
}

#replyCnt {
  font-size: 0.5em;
  color: blue;
}
