<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[상품목록 조회]</title>
    <script>
      function deleteItem(id) {
        $.ajax({
          url: "/item/deleteItem/",
          type: "POST",
          headers: { "X-CSRFTOKEN": "{{csrf_token}}" },
          data: {'id' : id },
          success: function () {
            location.reload();
          },
        });
      }
    </script>
  </head>
  <body>
    <h1>[상품목록 조회]</h1>
    <table border="1">
      <tr>
        <th>상품코드</th>
        <th>상품이름</th>
        <th>재고수량</th>
        <th>#</th>
      </tr>
      {% for item in list %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.item_name}}</td>
        <td>{{item.item_count}}</td>
        <td>
          <a href="{%url 'item:updateItem' id=item.id %}">수정</a>
          <a href="#" onclick="deleteItem('{{item.id}}')">삭제</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <form action="{% url 'item:searchItem' %}" method="GET">
      <input type="text" name="search" />
      <input type="submit" value="검색" />
    </form>
  </body>
</html>
