<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[상품주문]</title>
  </head>
  <body>
    <h1>[상품주문]</h1>
    <form action="{% url 'item:orderItem' %}" method="POST">
      {% csrf_token %}
      <table border="1">
        <tr>
          <th>상품이름</th>
          <td>
            <select name="selected_item">
              {% for item in list %}
              <option value="{{ item.id }}">{{item.item_name}} / {{item.item_count}}개</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <th>상품개수</th>
          <td><input type="number" name="item_count"  value="1"/></td>
        </tr>
        <tr>
          <th colspan="2">
            <input type="submit" value="주문" />
          </th>
        </tr>
      </table>
    </form>
  </body>
</html>
